<!-- Dialog -->
<div class="modal fade bd-example-modal-sm" id="ventanaEliminarRegTipo" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #c23f3e;">
				<h5 class="modal-title" id="lbl_titulo_confir_eli" style="color: white;">Mensaje de Confirmacion</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<i class='fas fa-info-circle' style="color: aqua;"> </i>&nbsp;&nbsp; &iquest; Desea eliminar el registro ?
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"  class="btn btn-primary" ng-click="tCtrl.eliminarTipoAndDominio()">Aceptar</button>
				<button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
	
			</div>
		</div>
	</div>
</div>