<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!-- estilos del menu -->
<!-- Custom fonts for this template-->
<link th:href="${allMincss}" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link th:href="${sbadmin}" rel="stylesheet">
<link th:href="${indexStyleCss}" rel="stylesheet">
<!-- fin estilos del menu -->
<link rel="stylesheet" type="text/css" th:href="${bootstrap}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="${disenioCategCss}">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../../js/app/app.js"></script>
<script src="../../js/app/antivirusYSo/antivirusYSoService.js"></script>
<script src="../../js/app/antivirusYSo/antivirusYSoController.js"></script>


</head>
<body ng-app="myApp" ng-controller="AntivirusYSoController as asCtrl">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="navbar-nav bg-danger sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/inicio}">
				<div class="sidebar-brand-icon">
					<i><img th:src="${imagenLogo}" alt="" id="logo_utp"></i>
				</div>
				<div class="sidebar-brand-text mx-1">
					<h6>Universidad Tecnológica del Perú</h6>
				</div>
			</a>
			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/inicio}"> <i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span></a></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading
        <div class="sidebar-heading">
          Interface
        </div>-->

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo"> <i
					class="fas fa-fw fa-cog"></i> <span>Equipos</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Equipos:</h6>
						<a class="collapse-item" href="/equipos/tipos">Tipos &
							Dominios</a> <a class="collapse-item" href="/equipos/antivirusYSo">SO/Antivirus
							y otros</a> <a class="collapse-item" href="/equipos/dispositivos">Dispositivos</a>
						<a class="collapse-item" href="">Componentes</a>
					</div>
				</div></li>

			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUtilities"
				aria-expanded="true" aria-controls="collapseUtilities"> <!--<i class="fas fa-fw fa-wrench"></i>-->
					<i class="fas fa-book"></i> <span>Movimientos</span>
			</a>
				<div id="collapseUtilities" class="collapse"
					aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Movimientos:</h6>
						<a class="collapse-item" href="movimientos/usuario">Usuarios</a> <a
							class="collapse-item" href="">Dispositivos</a> <a
							class="collapse-item" href="">Componentes</a>
					</div>
				</div></li>


			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUsuarios"
				aria-expanded="true" aria-controls="collapseUsuarios"> <!--<i class="fas fa-fw fa-wrench"></i>-->
					<i class="far fa-address-card"></i> <span>Usuarios</span>
			</a>
				<div id="collapseUsuarios" class="collapse"
					aria-labelledby="headingUsuarios" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Usuarios:</h6>
						<a class="collapse-item" href="">Administrar</a>
					</div>
				</div></li>

			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseSoftware"
				aria-expanded="true" aria-controls="collapseSoftware"> <!--<i class="fas fa-fw fa-wrench"></i>-->
					<i class="fas fa-shield-alt"></i> <span>Software</span>
			</a>
				<div id="collapseSoftware" class="collapse"
					aria-labelledby="headingSoftware" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Software:</h6>
						<a class="collapse-item" href="">Inventario</a> <a
							class="collapse-item" href="">Histórico</a> <a
							class="collapse-item" href="/software/proveedor">Proveedores</a>
						<a class="collapse-item" href="">Software</a>
					</div>
				</div></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">Reportes</div>
			<!-- Nav Item - Charts -->
			<li class="nav-item"><a class="nav-link" href=""> <i
					class="fas fa-fw fa-chart-area"></i> <span>Charts</span></a></li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar  FIN DEL MENÚ-->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- barra vertical de cerrar sesion-->
			<!-- Topbar -->
			<nav
				class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop"
					class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Topbar Search -->
				<!--
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      -->
				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Search Dropdown (Visible Only XS) -->
					<li class="nav-item dropdown no-arrow d-sm-none"><a
						class="nav-link dropdown-toggle" href="#" id="searchDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
					</a> <!-- Dropdown - Messages -->
						<div
							class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
							aria-labelledby="searchDropdown">
							<form class="form-inline mr-auto w-100 navbar-search">
								<div class="input-group">
									<input type="text" class="form-control bg-light border-0 small"
										placeholder="Search for..." aria-label="Search"
										aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-primary" type="button">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</form>
						</div></li>

					<!-- Nav Item - Alerts -->
					<li class="nav-item dropdown no-arrow mx-1"><a
						class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <!-- Counter - Alerts -->
							<span class="badge badge-danger badge-counter">3+</span>
					</a> <!-- Dropdown - Alerts -->
						<div
							class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="alertsDropdown">
							<h6 class="dropdown-header">Alerts Center</h6>
							<a class="dropdown-item d-flex align-items-center" href="#">
								<div class="mr-3">
									<div class="icon-circle bg-primary">
										<i class="fas fa-file-alt text-white"></i>
									</div>
								</div>
								<div>
									<div class="small text-gray-500">December 12, 2019</div>
									<span class="font-weight-bold">A new monthly report is
										ready to download!</span>
								</div>
							</a> <a class="dropdown-item d-flex align-items-center" href="#">
								<div class="mr-3">
									<div class="icon-circle bg-success">
										<i class="fas fa-donate text-white"></i>
									</div>
								</div>
								<div>
									<div class="small text-gray-500">December 7, 2019</div>
									$290.29 has been deposited into your account!
								</div>
							</a> <a class="dropdown-item d-flex align-items-center" href="#">
								<div class="mr-3">
									<div class="icon-circle bg-warning">
										<i class="fas fa-exclamation-triangle text-white"></i>
									</div>
								</div>
								<div>
									<div class="small text-gray-500">December 2, 2019</div>
									Spending Alert: We've noticed unusually high spending for your
									account.
								</div>
							</a> <a class="dropdown-item text-center small text-gray-500"
								href="#">Show All Alerts</a>
						</div></li>

					<!-- Nav Item - Messages -->
					<li class="nav-item dropdown no-arrow mx-1"><a
						class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fas fa-envelope fa-fw"></i> <!-- Counter - Messages -->
							<span class="badge badge-danger badge-counter">7</span>
					</a> <!-- Dropdown - Messages -->
						<div
							class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="messagesDropdown">
							<h6 class="dropdown-header">Message Center</h6>
							<a class="dropdown-item d-flex align-items-center" href="#">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle"
										src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
									<div class="status-indicator bg-success"></div>
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">Hi there! I am wondering if
										you can help me with a problem I've been having.</div>
									<div class="small text-gray-500">Emily Fowler · 58m</div>
								</div>
							</a> <a class="dropdown-item d-flex align-items-center" href="#">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle"
										src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
									<div class="status-indicator"></div>
								</div>
								<div>
									<div class="text-truncate">I have the photos that you
										ordered last month, how would you like them sent to you?</div>
									<div class="small text-gray-500">Jae Chun · 1d</div>
								</div>
							</a> <a class="dropdown-item d-flex align-items-center" href="#">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle"
										src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
									<div class="status-indicator bg-warning"></div>
								</div>
								<div>
									<div class="text-truncate">Last month's report looks
										great, I am very happy with the progress so far, keep up the
										good work!</div>
									<div class="small text-gray-500">Morgan Alvarez · 2d</div>
								</div>
							</a> <a class="dropdown-item d-flex align-items-center" href="#">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle"
										src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
									<div class="status-indicator bg-success"></div>
								</div>
								<div>
									<div class="text-truncate">Am I a good boy? The reason I
										ask is because someone told me that people say this to all
										dogs, even if they aren't good...</div>
									<div class="small text-gray-500">Chicken the Dog · 2w</div>
								</div>
							</a> <a class="dropdown-item text-center small text-gray-500"
								href="#">Read More Messages</a>
						</div></li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow"><a
						class="nav-link dropdown-toggle" href="#" id="userDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <span
							class="mr-2 d-none d-lg-inline text-gray-600 small">Ricardo
								UTP</span> <!--<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
							<i class="fas fa-sign-in-alt" style='font-size: 20px; color: red'></i>
					</a> <!-- Dropdown - User Information -->
						<div
							class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="userDropdown">
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" data-toggle="modal"
								data-target="#logoutModal"> <i
								class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Cerrar sesión
							</a>
						</div></li>
				</ul>
			</nav>
			<!-- End of Topbar -->
			<!--  barra vertical de cerrar sesion- -->
			<div class="container">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-sm-5">
								<h2>SO/Antivirus/Procesadores</h2>
							</div>
							<div class="col-sm-7">
								<a href="#" class="btn btn-primary" id="btn_proce"
									title="Nuevo"
									ng-click="asCtrl.nuevoRegistro()"><i
									class="fa">&#xf055;</i>&nbsp;&nbsp;&nbsp;
										<i class="fa">&#xf2db;</i></a>
<!-- 								<a href="#" class="btn btn-primary" id="btn_antiv"><i -->
<!-- 									class="fa">&#xf055;</i>&nbsp;&nbsp;&nbsp;<i class="fa">&#xf96c;</i></a> -->
<!-- 								<a href="#" class="btn btn-primary" id="btn_so"><i -->
<!-- 									class="fa">&#xf055;</i>&nbsp;&nbsp;&nbsp;<i class="fas">&#xf108;</i></a> -->
<!-- 									<a href="#" class="btn btn-primary"><i class="fa">&#xf055;</i> <span>Exportar a Excel</span></a> -->
							</div>
						</div>
					</div>
			
					<table class="table table-striped table-hover">
						<thead align="center">
							<tr>
								<th>#</th>
								<th>Tipo</th>
								<th>Descripción</th>
								<th>Estado</th>
								<th></th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody align="center">
							<tr ng-repeat="a in asCtrl.listar | 
								startFrom:asCtrl.currentPage*asCtrl.pageSize |
								limitTo:asCtrl.pageSize ">
								<td>{{a.idRecurso}}</td>
								<!--Primer columna-->
								<td ng-if="a.flag == 'AN' ">Antivirus</td>
								<td ng-if="a.flag == 'SO' ">SO</td>
								
								<!--segunda columna-->
								<td>{{a.nombreRecurso}}</td>
								<td ng-if="a.estado == 'A'">Activo</td>
								<td ng-if="a.estado == 'I'">Inactivo</td>
								
								<td></td>
								<td><a href="#" class="settings" title="Modificar"
									ng-click="asCtrl.actualizarRegistro(a)"
									data-toggle="tooltip"><i class="fa" id="ic_edit">&#xf14b;</i></a>
										</td>
							</tr>
						</tbody>
					</table>
					<div style="text-align: right;">
						<button ng-disabled="asCtrl.currentPage == 0"
							class="btn btn-primary"
							ng-click="asCtrl.currentPage=asCtrl.currentPage-1">
							Anterior</button>
						{{asCtrl.currentPage+1}}/{{asCtrl.numberOfPages()}}
						<button
							ng-disabled="asCtrl.currentPage >= asCtrl.getData().length/asCtrl.pageSize - 1"
							ng-click="asCtrl.currentPage=asCtrl.currentPage+1"
							class="btn btn-primary">Siguiente</button>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Sistema de Inventario UTP - 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Finalizar</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Estas seguro de cerrar sesión ?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="login.html">Cerrar sesión</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Salir de la sessión-->
	<!-- modaL popup de eliminar -->

	<div class="modal fade2" id="Popup_eliminar" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Borrar</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Estas seguro que desea eliminar ?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="">Aceptar</a>
				</div>
			</div>
		</div>
	</div>
	<!-- modaL popup guardar -->
	<div class="modal fade" id="Popup_guardar" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #c23f3e;">
					<h5 class="modal-title" id="exampleModalLabel"
					style="color: white;text-align: center;">Ingresar
						Categoría</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form" role="form" method="post">
						<div class="form-group">
							<label for="txt_tipo" class="col-form-label" id="lbl_Idcat">Seleccionar
								Tipo</label> <select class="form-control" id="selectEstado"
								ng-model="asCtrl.dataAntiYSo.flag">
								<option value="" selected>Seleccione...</option>
								<option value="AN">ANTIVIRUS</option>
								<option value="SO">SISTEMA OPERATIVO</option>
							</select>
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label"
								id="lbl_titulo">Tipo</label> <input type="text"
								class="form-control" id="recipient-name"
								ng-model="asCtrl.dataAntiYSo.recurso.nombreRecurso">
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href=""
						ng-click="asCtrl.registrarAntivirusYSo()">Aceptar</a>
				</div>
			</div>
		</div>
	</div>
	<!-- modaL popup guardar -->
	<!-- modaL popup modificar -->

	<div class="modal fade" id="Popup_modif" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #c23f3e;">
					<h5 class="modal-title" id="exampleModalLabel"
					style="color: white;text-align: center;">Modificar
						Categoría</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label" id="lbl_Idcat">ID</label>
							<input type="text" class="form-control" id="txt_id"
								 readonly
								 ng-model="asCtrl.dataAntiYSo.recurso.idRecurso">
						</div>
						<div class="form-group">
							<label for="txt_tipo" class="col-form-label" id="lbl_Idcat">Seleccionar
								Tipo</label> <select class="form-control" id="selectEstado"
								ng-model="asCtrl.dataAntiYSo.flag">
								<option value="" selected>Seleccione...</option>
								<option value="AN">ANTIVIRUS</option>
								<option value="SO">SISTEMA OPERATIVO</option>
							</select>
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label"
								id="lbl_titulo">Descripción</label> <input type="text"
								class="form-control" id="txt_descrip"
								ng-model="asCtrl.dataAntiYSo.recurso.nombreRecurso">
						</div>
						<div class="form-group">
							<label for="txt_tipo" class="col-form-label" id="lbl_Idcat">Estado
								</label> <select class="form-control" id="selectEstado"
								ng-model="asCtrl.dataAntiYSo.recurso.estado" >
								<option value="" selected>Seleccione...</option>
								<option value="A">Activo</option>
								<option value="I">Inactivo</option>
							</select>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href=""
						ng-click="asCtrl.actualizarAntivirusYSo()">Aceptar</a>
				</div>
			</div>
		</div>
	</div>
	<!-- modaL popup modificar -->

	<!-- modaL Visualizar detalle ini -->

	<!-- modaL Visualizar detalle fin-->


	<!-- ==================================== Boostrap JavaScript ===================== -->
	<script th:src="${jQuery341MinJs}"></script>
	<!-- Iconos fast -->
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<!--JS del menu-->
	<script th:src="${sbadmin2}"></script>
	<script th:src="${sbadmin2js}"></script>
	<!--Fin JS del menu-->
	<!--===============================================================================================-->
	<!--===============================================================================================-->

	<script th:src="${boostrapJs}"></script>
	<script th:src="${boostrapBundleJs}"></script>
	<!--===============================================================================================-->
	<script th:src="${categoriaJS}"></script>
</body>
</html>
