<div class="modal fade" id="Popup_redip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header" style="background-color: #c23f3e;">
             <h5 class="modal-title" id="lbl_titulo_mant" style="color: white;text-align: center;"
             		>Asignar una red IP </h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
          <form>
           <!-- class="form-inline"> -->
                  <div class="form-group">
                    <label for="exampleInputEmail3">Tipo:</label>&nbsp;<br>
                    <input type="text" class="form-control" id="txt_rid_dispos" disabled="disabled"
                    	ng-model="dCtrl.datosAsignarIp.tipoDispositivoBean.nomDispositivo">
                  </div>&nbsp;
                  <div class="form-group">
                    <label for="exampleInputEmail3">Marca:</label>&nbsp;<br>
                    <input type="text" class="form-control" id="txt_rmarca" disabled="disabled"
                    	ng-model="dCtrl.datosAsignarIp.marca">
                  </div>&nbsp;
                  <div class="form-group">
                    <label for="exampleInputEmail3">Modelo:</label>&nbsp;<br>
                    <input type="text" class="form-control" id="txt_rmodelo" disabled="disabled"
                    	ng-model="dCtrl.datosAsignarIp.modelo">
                  </div>&nbsp;
              <div class="form-group">
                <label for="exampleInputEmail3">Serie:</label>&nbsp;<br>
                <input type="text" class="form-control" id="txt_rserie" disabled="disabled"
                	ng-model="dCtrl.datosAsignarIp.serie">
              </div>&nbsp;
              <div class="form-group">
                <label for="exampleInputEmail3">CodBarras:</label>&nbsp;<br>
                <input type="text" class="form-control" id="txt_rcod_barras" disabled="disabled"
                	ng-model="dCtrl.datosAsignarIp.codBarras">
              </div>&nbsp;
           <div class="form-group">
             <label for="exampleInputEmail3">IP:</label>&nbsp;<br>
             <input type="text" class="form-control" id="txt_rip" placeholder="Ingresar nro IP">
         </div>
         <div class="modal-footer">
           <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
           <a class="btn btn-primary" href="">Aceptar</a>
         </div>
        </form>
           </div>
         </div>
       </div>
     </div>